*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}


/* ================== Navbar Start Here ================== */

.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 4vw;
}
.nav .nav-left{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.nav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.nav h4{
    font-size: 1.1vw;
    cursor: pointer;
}
.nav h4:hover{
    color: #006239;
}

/* ================== Navbar End Here ================== */



/* ================== Content Start Here ================== */

.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}
.content .left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
}
.content .left h1{
    font-size: 4.2vw;
}
.content .left h1 span{
    color: #006239;
    cursor: pointer;
}
.content .left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 85%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}
.content .left button{
    background-color: #006341;
    color: #fff;
    font-size: 1.2vw;
    border: none;
    padding: 1.1vw 1.3vw;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
}
.content .left button:hover{
    background-color: #5C7C3A;
}
.content .right{
    height: 100%;
    width: 45%;
}
.content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 2vw;
    cursor: pointer;
}
/* ================== Content End Here ================== */









/* ================== Media Queries Start Here ================== */

@media (max-width:600px) {
    .nav{
        height: 60px;
        padding: 0 6vw;
    }
    .nav .nav-left{
        height: 40px;
        width: 40px;
    }
    .nav h4{
        font-size: 4vw;

    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .content .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .content .right{
        width: 100%;
        height: 55%;
    }
    .content .right img{
        padding-top: 8vw;
    }
    .content .left h1{
        font-size: 9vw;
    }
    .content .left p{
        font-size: 4.2vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }
    .content .left button{
        padding: 3vw 6vw;
        font-size: 4vw;
        border-radius: 30px;
        font-weight: 600;

    }
}

/* ================== Media Queries Start Here ================== */
